.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae800;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}

.smbutton{
    background-image: linear-gradient(to bottom, #d4b70e 0%, #050404f1 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}
.Tipsy{
    color: #025303;
}
.icon{
    color: #626262;
}
.bgm2{
    background-image: url("images/intr1.jpg");
}
.bgm1{
    background-image: url("images/sky.jpg");
}
.hdbn1{
    text-align: center;
}
.wldr{
    color: rgb(239, 202, 56);
    
}
.bighd{
    font-size: 60px;
}
.re{
    text-align: center;
}
.bgm3{
    background-image: url("images/intr4.jpg");
}
body{
    background-image: url("https://img.freepik.com/premium-photo/3d-rendered-black-product-stand-with-yellow-neon-lights_167650-2520.jpg");
    font-family: 'Lobster', cursive;
}
.fbg{
    background-color: #c7ad1a;
}


.lcf{
    color: #fff;
}
.h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
    
}
.h2{
    
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-family: 'Lobster', cursive;

    font-family: 'Poiret One', cursive;
    
    
}
